# Minecraft Server Config
MC_HOST=hypixel.net
MC_PORT=25565
MC_VERSION=false

# Bot Account
MC_USERNAME=YourBotUsername
MC_PASSWORD=YourBotPassword
MC_AUTH=microsoft

# Reconnect delay (milliseconds)
RECONNECT_DELAY=5000
